@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  position: absolute;
  height: 800px;
  width: 1400px;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #d9cfc6;
}

svg {
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fbfaf6;
  margin-bottom: 20px;
}

#tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(80, 80, 80, 0.9);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  height: 75px;
  width: 150px;
  pointer-events: none;
}

.tooltip-text {
  font-family: "Open-Sans", sans-serif;
  color: white;
}

#title {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translateX(-50%);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 32px;
}

#description {
  position: absolute;
  left: 50%;
  top: 65px;
  transform: translateX(-50%);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.cell {
  z-index: 1;
}

.cell:hover {
  stroke: black;
  stroke-width: 2px;
}
